---
import Footer from '../../components/Footer';
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav';
import NavHero from '../../components/NavHero';
import ProjectCard from '../../components/ProjectCard/index.jsx';
import dateFormat from 'dateformat';

interface ProjectFrontmatter {
  title: string;
  date: Date;
  summary?: string;
  tags?: string[];
}

const allPosts = await Astro.glob<ProjectFrontmatter>('./**/*.md');
---

<html lang="en">
    <head>
        <MainHead
			title="Blog | Liz Ainslie"
			description="Liz Ainslie: Freelance & Hobbyist Full Stack Developer"
		/>
    </head>
    <body>
        <NavHero>
            <div class="py-32 flex flex-col items-center text-center topography" style="fill: #1e2329;">
                <h1 class="font-display text-6xl font-light text-white">Blog</h1>
                <p class="text-2xl mt-4 text-white">My writing about tech, music, and life.</p>
            </div>
        </NavHero>

        <div class="container mx-auto py-8">
            <div class="flex flex-col">
                {allPosts.sort((a, b) => a.frontmatter.date.getMilliseconds() - b.frontmatter.date.getMilliseconds()).map(post => (
                    <div class="postItem">
                        <h2 class="text-3xl"><a href={post.url} class="hover:underline">{post.frontmatter.title}</a></h2>
                        {post.frontmatter.summary && (<p class="mt-2 leading-relaxed">{post.frontmatter.summary}</p>)}
                        <p class="mt-4 text-gray-400">
                            {dateFormat(post.frontmatter.date, "UTC:mmm d, yyyy")} &middot; {post.frontmatter.tags.join(', ')}
                        </p>
                    </div>
                ))}
            </div>
        </div>

        <Footer />
    </body>
</html>