---
import { getCollection, type CollectionEntry } from "astro:content";

import BaseHead from "../../components/BaseHead.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import SiteNav from "../../components/SiteNav.astro";
import TagList from "../../components/TagList";

import { BlogPostList } from "../../components/BlogPostList.tsx";

const posts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
        b.data.date.getMilliseconds() - a.data.date.getMilliseconds()
);

const tags = [...new Set(posts.flatMap(({ data: { tags } }) => tags))];
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Liz Ainslie" />
    </head>
    <body>
        <SiteNav />

        <table class="header">
            <tr>
                <td colspan="4" class="banner-cell">
                    <img src="/images/banner_blog.png" alt="Banner">
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2" class="width-auto">
                    <div class="title-wrap">
                        <!--            <img src="images/pfp.png" alt="Profile Pic">-->
                        <div>
                            <h1 class="title">Liz Ainslie</h1>
                            <span class="subtitle">Blog</span>
                        </div>
                    </div>
                </td>
                <th>Posts</th>
                <td class="width-min">{posts.length}</td>
            </tr>
            <tr>
                <th>Latest</th>
                <td class="width-min">
                    {posts[0]?.data?.date ? <FormattedDate date={posts[0]!!.data!!.date} /> : "None"}
                </td>
            </tr>
            <tr>
                <th class="width-min" colspan="1">Tags</th>
                <td class="width-auto" colspan="3">
                    <TagList tags={tags} client:only="react" />
                </td>
            </tr>
        </table>

        <BlogPostList posts={posts} client:only="react" />
    </body>
</html>
