@import './include/colors';
@import './include/fonts';

// Base

body {
	margin: 0;
	background-color: $dark_1;
	color: #fff;
	font-family: 'Bellota Text', 'system-ui', sans-serif;
}

* {
	box-sizing: content-box;
}

img {
	max-width: 100%;
	height: auto;
}
