---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="About | Liz Ainslie" description="About me and my work." />
	</head>
	<body>
		<Nav />
	</body>
</html>
