---
import Footer from '../components/Footer';
import MainHead from '../components/MainHead.astro';
import NavHero from '../components/NavHero';
---

<html lang="en">
	<head>
		<MainHead title="About | Liz Ainslie" description="About me and my work." />
	</head>
	<body>
		<NavHero>
            <div class="py-32 flex flex-col items-center text-center topography" style="fill: #1e2329;">
                <h1 class="font-display text-6xl font-light text-white">About Me</h1>
            </div>
        </NavHero>

        <article class="container mx-auto py-8 content">
			<h2>Hi, I'm Lizzy! 👋</h2>
			<p>
				I am a 19 year old full stack engineer and business owner from 
				Arizona 🌵. My hobbies include video games, writing systems code,
				making music, and Dungeons & Dragons. I identify as transgender
				(MtF) and I use She/They pronouns. 🏳️‍⚧️
			</p>

			<h3>How to contact me</h3>
			
			<p>
				I'm generally open to chat with anyone as long as you can hold a
				proper adult conversation (it's the internet, you'd be surprised).
				If you want to reach me for any reason, (i.e. just to chat, to 
				discuss business, to play a game) you can use one of the following
				methods:
			</p>

			<ul>
				<li>Join my Discord at <a href="https://discord.gg/hKd9eQTQmZ" target="_blank" rel="nofollow noreferrer">discord.gg/hKd9eQTQmZ</a></li>
				<li>DM me on Twitter <a href="https://twitter.com/LizzyReborn" target="_blank" rel="nofollow noreferrer">@LizzyReorn</a></li>
				<li>Send an email to <a href="mailto:lizainslie16@gmail.com">lizainslie16@gmail.com</a> (For personal reasons)</li>
				<li>Send an email to <a href="mailto:liz_ainslie@synapsetech.dev">liz_ainslie@synapsetech.dev</a> (For business reasons)</li>
			</ul>

			<h3>Want to donate?</h3>
			
			<p>
				Because of my slightly shaky financial state as of recently, I
				do accept donations. However I ask that before donating you
				make sure you take care of your own needs and the needs of your
				friends/loved ones. If anything I do or make helps you in any
				way, shoot me a message! I love hearing how my creations make
				people's lives better. You can donate using the sites below:
			</p>

			<ul>
				<li>Patreon: <a href="https://patreon.com/LizAinslie" target="_blank" rel="nofollow noreferrer">patreon.com/LizAinslie</a></li>
				<li>PayPal: <a href="https://paypal.me/lizainslie" target="_blank" rel="nofollow noreferrer">paypal.me/lizainslie</a> (Under my given name, not my preferred name for legal reasons)</li>
				<li>Ko-Fi: <a href="https://ko-fi.com/lizainslie" target="_blank" rel="nofollow noreferrer">ko-fi.com/lizainslie</a></li>
			</ul>
		</article>

		<Footer />
	</body>
</html>
