---
import MainHead from '../components/MainHead.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Liz Ainslie" description="About me and my work." />
	</head>
	<body>
	</body>
</html>
