---
import MainHead from '../components/MainHead.astro';
import { Spa } from "astro-spa";
---

<html lang="en">
	<head>
		<MainHead title="About | Liz Ainslie" description="About me and my work." />
	</head>
	<body>
		<Spa />
	</body>
</html>
