---
// Component Imports
import MainHead from '../components/MainHead.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./projects/**/*.md');
const featuredProject = projects[0];
---

<html lang="en">
	<head>
		<MainHead
			title="Liz Ainslie"
			description="Liz Ainslie: Freelance & Hobby Full Stack Developer"
		/>
	</head>
	<body>
	</body>
</html>
