---
// Component Imports
import MainHead from "../components/MainHead.astro";
import NavHero from "../components/NavHero/index.jsx";
import HomeHero from "../components/HomeHero/index.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="Liz Ainslie"
      description="Liz Ainslie: Freelance & Hobbyist Full Stack Developer"
      color="#2d333b"
    />
  </head>
  <body>
    <NavHero color="transparent" fixedNav full>
      <HomeHero client:only />
    </NavHero>
  </body>
</html>
