---
// Component Imports
import MainHead from '../components/MainHead.astro';
import NavHero from '../components/NavHero/index.jsx';
import HomeHero from '../components/HomeHero/index.jsx';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./projects/**/*.md');
const featuredProject = projects[0];
---

<html lang="en">
	<head>
		<MainHead
			title="Liz Ainslie"
			description="Liz Ainslie: Freelance & Hobbyist Full Stack Developer"
		/>
	</head>
	<body>
		<NavHero color='#dc3545'>
			<HomeHero />
		</NavHero>

		<script is:inline async src="/animation.js"></script>
	</body>
</html>
