---
const currentPath = Astro.url.pathname;
---
<nav class="site-nav">
    <a href="/" class:list={[{ active: currentPath == "/"}]}>Home</a>
    <a href="/blog" class:list={[{ active: currentPath.startsWith("/blog") }]}>Blog</a>
</nav>