---
import MainHead from '../components/MainHead.astro';
const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
	</head>
	<body>
	</body>
</html>
