---
import Footer from '../components/Footer';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav';
import ProjectCard from '../components/ProjectCard';
const { frontmatter, headings } = Astro.props;
---

<html lang={'en'}>
	<head>
		<MainHead 
			title={`${frontmatter.title} | Liz Ainslie`}
			description={frontmatter.description}
		/>
	</head>
	<body>
		<Nav />
		<div class="container mx-auto pt-8 md:pt-12">
			<ProjectCard {...frontmatter} />
			<div class="flex mt-8">
				<article class="content mb-12">
					<slot />
				</article>
				<aside class="hidden lg:block h-screen sticky top-0 min-w-fit max-w-[20%] p-4">
					<div class="headingLinks">
						{headings.map(heading => <a class="headingLink" href={`#${heading.slug}`}>{heading.text}</a>)}
					</div>
				</aside>
			</div>
		</div>
        <Footer />
	</body>
</html>
